form:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}

.f1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}
.f2:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}
.ipt1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}
.ipt2:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}
.ipt3:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}
.ipt4:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
}

button:hover{
    transform: scale(1.1);
    transition: transform 0.8s;
}



















.pppp:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
    color: white;
  }
  .p1-1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  .p2-1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  .p3-1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  .p4-1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  .p5-1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  
  .img15:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .img16:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .img17:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .img18:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .img19:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .img20:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .p6-1:hover{
    transform: scale(1.02);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  .a1:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
  }
  
  .p7-1:hover{
    transform: scale(1.02);
    transition: transform 0.7s;
    color: rgba(255, 255, 255, 0.718);
  }
  .a2:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
  }
  .a3:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
  }
  .a4:hover{
    transform: scale(1.03);
    transition: transform 0.7s;
  }
  .insta:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .snap:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  .tiktok:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }
  
  .logo:hover{
    transform: scale(1.2);
    transition: transform 0.6s;
  }